<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>

  <spring>

    <context>
      <resource uri="config://spring/objects"/>
    </context>

    <objects xmlns="http://www.springframework.net" >
      <description>AOP 테스트를 위한 두번째 Spring.NET 애플리케이션</description>
      <object id="ConsoleLoggingAroundAdvice" type="Spring.AOPExample.Advice.ConsoleLoggingAroundAdvice" />
      <object id="myServiceCommand" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="target">
          <object id ="myServiceObjectTarget" type="Spring.AOPExample.Command.ServiceCommand" />
        </property>
        <property name="InterceptorNames">
          <list>
            <value>ConsoleLoggingAroundAdvice</value>
          </list>
        </property>
      </object>
    </objects>

  </spring>
</configuration>